html {
    min-height: 100%;
    overflow-y: scroll;
    scrollbar-color: C_LGREEN #000000;
    scrollbar-width: auto;
    }
body {
    background: #aeb3ff;
    color:#000000;
    min-height: 100%;
    margin: 10pt;
}
pre {
    font-size: 12pt;
}
blockquote {
    margin: 6pt;
    padding-inline: 1em;
    border-inline-start: 4px solid #03005d;
}
p {
    line-height: 1.5em;
}
table {
    background: #eeeeec;
    border: 2px solid #888a85;
    border-collapse: collapse;
}
    th, td {
       border: 1px solid #babdb6;
       padding: 4pt;
    }
    .header {
    background: #0d1068;
    color: #d3aa68;
    text-align: center;
    font-family: sans-serif;
    min-height: 1px;
    }
    .header_text {
    padding-block: 4em;
    }
    .header a, .header a:visited {
    color: inherit;
    }
    .header h2, .header h3 {
    display: inline;
    }
    .footer {
    background: #2e3436;
    color: #d3d7cf;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8em;
    padding: 12pt 6pt;
    }
    .footer a, .footer a:visited {
    display: inline-block;
    color: #729fcf;
    }
    .content {
    margin: 2pt;
    color: #000000;
    font-family: serif;
    }
    .content img {
    max-width: 100%;
    }
    .content a:link, .content a:visited {
    color: #204a87;
    }
    .content a:focus, .content a:hover {
    color: #000000;
    }
    .word {
    margin: 6pt;
    padding-inline-start: 0.5em;
    font-family: serif;
    overflow: auto;
    border-radius: 6px;
    }
    .etymology, .grammar, .semantics, .tangent, .bubblebox, .exercise {
    margin: 6pt;
    padding-inline-start: 0.5em;
    font-family: serif;
    overflow: auto;
    border-radius: 6px;
    }
    .etymology:before, .grammar:before, .semantics:before, .tangent:before, .word:before, .bubblebox:before, .exercise:before{
    font-family: "Xolonium", sans-serif;
    float:inline-end;
    font-size: 3em;
    padding-inline-end: 0.2em;
    }
    .etymology:before {
    content: "🌏";
    }
    .tangent:before {
    content: "🚪";
    }
    .semantics:before {
    content: "🗣️";
    }
    .bubblebox:before {
    content: "🗣️";
    place-self: end;
    }
    .exercise:before {
    content: "❗";
    }
    .def {
    text-decoration: dotted underline;
    }
    @media screen and (min-width: 250px) {
    html {
     background:#e7e7ff url("/hexagonal_bg.gif");
     background-attachment: fixed;
    }
    body {
     max-width: 608pt;
     border-radius: 6px;
     margin: 60pt;
    }
    .header_text {
     padding-inline: 2em;
     padding-block: 2em;
    }
    .content {
     padding-inline: 2em;
     padding-block: 1em;
    }
    .info, .warning, .error, .etymology, .grammar, .semantics, .tangent, .bubblebox, .exercise {
     padding: 6pt;
     padding-inline-start: 1em;
    }
    }
    @media screen and (min-width:250pt) {
    .header {
     border-radius: 4px 4px 4px 4px;
    }
    body {
     max-width: 500pt;
     border: 2px solid #555753;
     margin: 24pt auto;
    }
    .footer {
     border-radius: 0 0 4px 4px;
    }
    }
details {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    background: #fff4fd;
} 

summary {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}
 