html {
    min-height: 100%;
    overflow-y: scroll;
    scrollbar-color: C_LGREEN #000000;
    scrollbar-width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #522537;
    }
body {
    background: #fff4fd;
    color:#000000;
    min-height: 100%;
    margin: 10pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    border-radius: 8px;
    border: 1px solid #430000;
}
p {
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    line-height: 1.5em;
}

summary {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    margin: -0.5em -0.5em .5em;
    padding: 0.5em;
}

details[open] {
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 500px) {
    details{
        padding: .4em .4em 0;
    }
    details[open]{
        padding: .4em .4em 0;
    }
    body {
        padding: .6em .6em 0;
    }
}

@media only screen and (min-width: 501px) {
    details{
        padding: 1em 1em 0;
    }
    details[open]{
        padding: 1em 1em 0;
    }
    body {
        padding: 1.5em 1.5em 0;
    }
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: .5em .5em .5em;
    table-layout:fixed;
    word-wrap: break-word;
    table-layout: fixed; 
    width: 100%;
}

details {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #415d8a;
    border-radius: 4px;
    background: #eaf2ff;
    details {
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #41356e;
        border-radius: 4px;
        background: #eae4ff;
        details {
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid #2a4176;
            border-radius: 4px;
            background: #cadaff;
            details {
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid #265b74;
                border-radius: 4px;
                background: #a4d6ee;
                details {
                    font-family: Arial, Helvetica, sans-serif;
                    border: 1px solid #18606a;
                    border-radius: 4px;
                    background: #83ccd6;
                    details {
                        font-family: Arial, Helvetica, sans-serif;
                        border: 1px solid #025e4a;
                        border-radius: 4px;
                        background: #a9e6d9;
                        details {
                            font-family: Arial, Helvetica, sans-serif;
                            border: 1px solid #06580a;
                            border-radius: 4px;
                            background: #b0e9b3;
                            details {
                                font-family: Arial, Helvetica, sans-serif;
                                border: 1px solid #214a01;
                                border-radius: 4px;
                                background: #c7efa8;
                            }
                        }
                    }
                }
            }
        }
    }
} 